{% extends 'main/main.html' %}
{% block content %}

{% load bootstrap5 %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex row flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-lg-4 col-sm-12 ">
                <li>
                    <a class="nav-link px-2 text-secondary" href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'create' %}" class="nav-link px-2 text-secondary">Create Task</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-secondary" href="/">About</a>
                </li>
            </ul>

            <form method="GET" class="col-lg-4 col-sm-12">
                <div class="input-group">
                    <input class="form-control" type="text" name="search-area" value="{{search_input}}">
                    <div class="input-group-append">
                        <input class="form-control btn btn-primary" type="submit" value="search">
                    </div>
                </div>
            </form>

            <div class="text-end col-lg-4 col-sm-12">
                {%if request.user.is_authenticated %}
                <span class="text-warning bg-dark">{{request.user}}
                    <a href="{% url 'logout' %}">
                        <button class="btn btn-warning mx-2">
                            Logout
                        </button>
                    </a>
                </span>
                
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container w-100">
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="text-primary mb-3">My ToDo List</h1>
            {% for task in tasks %}
            <div  onclick='location.href="{% url 'task' task.id %}";'
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start bg-light mt-1 px-0 rounded-2"
                style="cursor:pointer">

                <div class="me-auto mx-2 user-select-none fw-bold">{{task.title}}
                    {% if task.desc|length > 0 %}
                    <span class="text-muted">({{task.desc}})</span>
                    {% endif %}
                </div>
                <div><a href="{% url 'update' task.id %}"><button type="button" class="btn btn-warning user-select-none">Edit</button></a></div>
                <div><a href="{% url 'delete' task.id %}"><button type="button" class="btn btn-danger px-1 user-select-none">Delete</button></a></div>
            </div>
            {% empty %}
                <h3> No items in list! </h3>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}